.header {
    //center everything by using box model
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .image{
        margin-left: 15%;
        border-radius: 50%;
    }
    background-color: rgb(216, 211, 211);
    color: rgb(187, 85, 85);
    padding: 10px;
    text-align: center;
    
    .user{
        margin-right: 10%;
        button {
            background-color: rgb(165, 139, 73);
            color: white;
            font-size: 20px;
        }
    }
}
.logo img {
    padding: 2%;
    text-align:  center;
    width: 100%;
    height: 100vh;
}

.login{
    width: 30%;
    background-color:  rgb(216, 211, 211);

    //center everything by using box model
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;

    .form-group{
        width: 100%;
    }

}

.signin{
    width: 30%;
    background-color:  rgb(216, 211, 211);

    //center everything by using box model
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;

    .form-group{
        width: 100%;
    }

}